:root {
  /* Colours */
  --color-bg: #c0a898; /* page background /*

  /* Header */
  --color-head-bg: #a42419;

  /* Logotype */
  --color-logotype-bg: #ffffff;
  --color-text-logotype: #7f1b15;
  --font-logotype-size: 3rem;

  /* Global menu */
  --color-menu-bg: #a88265;
  /* Links */
  --color-link-bg: #ebdbce;
  --color-link-hover: #fff; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 3rem;
  --font-sub1-size: 3rem;
  --font-h2-size: 2.25rem;
  --font-h3-size: 2rem;
  --color-headline-bg: #b4a69b;
  --color-headline-text-page: #ebdbce;

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: #ebdbce;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: #ffffff;
  --color-cta-card-bg: #7f1b15;
  /* news-cards */
  --color-news-bg: #ebdbce;
  --color-news-bg-inverted: #a42419;
  --color-cta-newscard-bg: #a88265;
  --color-cta-newscard-bg-inverted: #ebdbce;

  /* Fonts */
  --font-family-sans: "rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 2.25rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1.25rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #676161;
  --color-infobox-1-bg: #cfcec6;
  --color-infobox-2-bg: #969995;
}
