#webform {
  background-color: var(--form-background-color);
}

#form-section,
#form-summary {
  background-color: var(--info-background-color);
  padding: 0;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

.container {
  display: flex;
  gap: 40px;
}

#form-info {
  color: #fffae2;
}

#form-info h2 {
  font-size: 3rem;
}
/* form */

#webform {
  flex: 2;
  background: #4e3b2f;
  padding: 30px;
  border-radius: 20px;
  color: white;
}

/* informationer */
fieldset {
  flex: 2;
  background: #ebdbcec0;

  padding: 30px;
  border-radius: 20px;
  color: rgba(0, 0, 0, 0.504);
  margin-bottom: 20px;
}
.overskrift1 {
  font-weight: bold;
  color: #fffae2;
  padding: 0 8px;
}
.form-grid {
  background: #ebdbcec0;
  padding: 20px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-bottom: 30px;
}

.form-group:has(:required) {
  label::after {
    content: " *";
    color: rgb(249, 74, 74);
  }
}

.form-group:has(:user-invalid) {
  input {
    outline: 3px solid #f005;
    border-color: darkred;
  }
}

/* Wrapper til de tre form-kolonner */
.big-form-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem; /* mellem kolonner */
  margin-bottom: 2rem;
}

/* Styling af hver kolonnegruppe */
.form-group {
  display: flex;
  flex-direction: column;
}

/* information input styling */
.form-group input {
  padding: 0.7rem 0.9rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  margin-bottom: 20px;
}

/* skadevurdering */

.skadevurdering {
  background: #cec2b5;
  padding: 30px;
  border-radius: 35px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  width: 90%;
}

.skadevurdering .overskrift1 {
  width: 100%; /* gør at den står på egen linje */
  font-size: 1.6rem;
  color: #fff9e6;
  margin-bottom: 5px;
}
.skadevurdering label {
  display: flex;
  align-items: center;

  gap: 8px;
  font-weight: 500;
}

#reset_btn {
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background: #a42419;
  margin-top: 20px;
  margin-left: 10px;
  color: #fff9e2;
  letter-spacing: 1px;
  cursor: pointer;
}
.skadevurdering {
  position: relative;
  margin-top: 20px;
}

.skade-info {
  background: #fff6dd;
  border: 1px solid #cab889;
  padding: 10px;
  border-radius: 6px;
  font-size: 0.9rem;
  display: none;
  margin-bottom: 12px;
}

.info-btn {
  margin: 0px 0px 18px 2px;
  font-size: 0.6rem;
  padding: 2px 6px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: #d6d6e8;
}
.info-btn:hover {
  background: #bebed6;
}

/* Hide default radio */
.skadevurdering input[type="radio"] {
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: none;
  background: #fff9e6; /* lys lavendel */
  position: relative;
  margin-left: 35px;
  cursor: pointer;
}

/* Selected state */
.skadevurdering input[type="radio"]:checked {
  background: #ff2600;
}

/* Checkmark inside selected */
.skadevurdering input[type="radio"]:checked::after {
  content: "✔";
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -48%);
}

.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;

  display: none;
  width: 220px;
  background: #fff6dd;
  border: 1px solid #cab889;
  padding: 10px;
  border-radius: 6px;
  font-size: 0.85rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.tooltip.show {
  display: block;
}

/* Skadebeskrivelse */
.skadebeskrivelse {
  display: block;
  width: 100%;
  margin-top: 2rem;

  background: #ebdbcec0; /* ydre beige ramme */
  padding: 2rem;
  border-radius: 30px;

  font-weight: 700;
  font-size: 1.8rem;
  color: #fff9e2; /* lys creme */
}

/* Tekstfelt indeni */
.skadebeskrivelse textarea {
  width: 100%;
  height: 300px;

  margin-top: 1rem;
  padding: 1.5rem;

  background: #ebdbce; /* lysere beige (inner box) */
  border: none;
  border-radius: 22px;
  resize: none;

  font-size: 0.9rem;
  color: #4a3c33;
}

/* Placeholder */
.skadebeskrivelse textarea::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.9rem;
  font-weight: lighter;
  cursor: pointer;
}

button {
  padding: 0.7rem 3rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background: #a42419;
  margin-top: 20px;
  margin-left: 10px;
  color: #fff9e2;
  letter-spacing: 1px;
  cursor: pointer;
}

button:hover {
  opacity: 0.85;
}

/* summery */
#form-summary {
  background: #3b2b22;
  /* margin: 1px; */
}

#form-summary h2 {
  background: #7f1b15;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ebdbce;
}

#sum {
  padding: 5px;
  font-size: 1rem;
  background: #ebdbce;
  border-radius: 8px;
}
